* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: sans-serif;
}
/* side navbar */
#side-navbar {
    width: 20%;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
}
#logo {
    display: flex;
    margin-bottom: 30px;
}
#links {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    margin-bottom: 10px;
}
/* main */
main {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/* header */
#header {
    background-color: aliceblue;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    padding: 15px 30px;
}
#above, #below, #group1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#above {
    margin-bottom: 15px;
}
/* content */
#grid {
    display: flex;
    padding: 20px 30px;
}
#last {
    display: flex;
    flex-direction: column;
}
#grid-project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
h2, p {
    font-size: 15px;
}
#Project {
    width: 350px;
    height: 130px;
    padding-top: 10px;
    padding-right: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: bisque;
}
#announcements {
    margin-top: 10px;
    padding: 0px 20px;
}
#announce {
    margin-bottom: 10px;
}
#announce > h3 {
    font-size: 20px;
}
#announce > p {
    font-size: 15px;
}
#trending-text {
    margin-top: 10px;
}
#divider {
    background-color: gray;
    height: 1px;
    margin: 10px 0px;
}
#trend {
    padding: 0px 20px;
}
#text-trend {
    margin: 10px 0px;
}
#text-trend > h3 {
    font-size: 15px;
}